body
{
margin-left:200px;
background:#5d9ab2 url('img_tree.png') no-repeat top left;
}


#texto
{
border:1px solid gray;
margin-right:auto;
margin-left: auto;
width:90%;
background-color:#d0f0f6;
padding:8px;
}





